<%- include("../../partials/header") %>

<h1 style="text-align: center">Trend of county with high severity more than 2 at the selected county</h1>

<div class="row">
    <div class="col-md-3">
         <p class="lead" style="text-align: center"> </p>
         <div class="list-group">
             <a class="list-group-item active" href="/queries/trends/accident_in_state">Trend of accident numbers in the selected state</a>
             <a class="list-group-item" href="/queries/trends/trend_of_more_than2">Trend of occurrence of high severity more than 2 at the selected city</a>
             <a class="list-group-item active" href="/queries/trends/trend_of_weather">The trend of accident occurrence in selected city under special weather condition with different severity level</a>
    	 </div>
    	 <p>
              <a href="/queries/trends" class="btn btn-primary btn-block">Go Back</a>
         </p>
    </div>

    <div class="container col-md-9" style="text-align: center; width: 30%; margin: 50px 50px">
         <div class="chart-container" style="float:left; height:20vh; width:50vw; margin-bottom: 400px;">
             <canvas id="myChart"></canvas>
         </div>
         <script>
             var dataLength = <%- NUMBER_OF_ACCIDENTS_S4.length %>;
             var up3 = <%- JSON.stringify(up3) %>;
             var num_s4 = [<%= NUMBER_OF_ACCIDENTS_S4 %>];
             var arrSum = arr => arr.reduce((a,b) => a + b, 0);
             var backgroundCol = [];
             var borderCol = [];
             for (var i = 0; i < dataLength; i++) {
                 if(up3[i] === 'Yes') {
                     backgroundCol.push('rgba('+ (255-num_s4[i]*10) +',0,0,0.87)');
                     borderCol.push('rgba('+ (255-num_s4[i]*10) +',0,0,0.87)');
                 }
                 else{
                     backgroundCol.push('rgba(10,255,0,0.87)');
                     borderCol.push('rgba(10,255,0,0.87)');
                 }
             };
             var months = ["Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
             var chartData = {
                 labels: months,
                 datasets: [{
                     type: 'line',
                     label: 'The boundry',
                     backgroundColor: 'rgba(255,0,0,0.87)',
                     borderColor: 'rgba(255,0,0,0.87)',
                     borderWidth: 2,
                     fill: false,
                     data: [2,2,2,2,2,2,2,2,2,2]
                 }, {
                     type: 'bar',
                     label: '# of S4 accidents',
                     backgroundColor: backgroundCol,
                     data: [<%= NUMBER_OF_ACCIDENTS_S4 %>],
                     borderColor: backgroundCol,
                     borderWidth: 2
                 }]

             };
             window.onload = function() {
                 var ctx = document.getElementById('myChart').getContext('2d');
                 window.myMixedChart = new Chart(ctx, {
                     type: 'bar',
                     data: chartData,
                     options: {
                         responsive: true,
                         title: {
                             display: true,
                             fontSize: 12,
                             text: 'The trend of counties that have more than two accidents whose severity is 4 in selected county/state in 2019'
                         },
                         tooltips: {
                             mode: 'index',
                             intersect: true
                         },
                         scales: {
                             xAxes: [{
                                 display: true,
                                 scaleLabel: {
                                     fontSize: 15,
                                     display: true,
                                     labelString: 'month'
                                 },
                                 ticks: {
                                     fontSize: 12,
                                     major: {
                                         fontStyle: 'bold',
                                         fontColor: 'rgba(255,0,0,0.87)'
                                     }
                                 }
                             }],
                             yAxes: [{
                                 display: true,
                                 scaleLabel: {
                                     fontSize: 15,
                                     display: true,
                                     labelString: "Number of S4 Accidents"
                                 },
                                 ticks: {
                                     fontSize: 12,
                                     beginAtZero: true
                                 }
                             }]
                         }
                     }
                 });
             };
         </script>
    </div>
</div>

<%- include("../../partials/footer") %>